# Determining Beta for Microsoft (MSFT) in comparison with S&P500 returns (GSPC)

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
security_data = pd.read_csv('C:/Users/ADMIN/Desktop/Westminster/6. Artificial Intelligence and Machine Learning/3. Week 3/ˆGSPC_MSFT Monthly V2 .csv',index_col='Date')

In [3]:
security_data.head()

                  ˆGSPC       MSFT
Date
01/11/2015  2080.409912  49.264046
01/12/2015  2043.939941  50.627274
01/01/2016  1940.239990  50.271385
01/02/2016  1932.229980  46.429623
01/03/2016  2059.739990  50.760994

In [4]:
security_data.describe()

             ˆGSPC        MSFT
count    61.000000   61.000000
mean   2653.731325  104.810811
std     412.649051   50.773370
min    1932.229980   45.834702
25%    2362.719971   60.614021
50%    2704.100098   95.183823
75%    2941.760010  135.501053
max    3621.629883  224.398651

In [5]:
sec_returns = np.log(security_data/security_data.shift(1))

In [6]:
Ret =sec_returns*12
Ret

               ˆGSPC      MSFT
Date
01/11/2015       NaN       NaN
01/12/2015 -0.212228  0.327551
01/01/2016 -0.624811 -0.084653
01/02/2016 -0.049643 -0.953980
01/03/2016  0.766860  1.070287
...              ...       ...
01/07/2020  0.643642  0.088124
01/08/2020  0.812629  1.144733
01/09/2020 -0.480217 -0.808333
01/10/2020 -0.336668 -0.457031
01/11/2020  1.225757  0.668536

[61 rows x 2 columns]

In [8]:
Ret_secs = Ret.iloc[1:61]

In [9]:
Ret_secs.head()

               ˆGSPC      MSFT
Date
01/12/2015 -0.212228  0.327551
01/01/2016 -0.624811 -0.084653
01/02/2016 -0.049643 -0.953980
01/03/2016  0.766860  1.070287
01/04/2016  0.032349 -1.225041

In [13]:
cov = Ret_secs.cov()
cov.round(3)

       ˆGSPC   MSFT
ˆGSPC  0.281  0.225
MSFT   0.225  0.385

In [15]:
corr = Ret_secs.corr()
corr.round(3)

       ˆGSPC   MSFT
ˆGSPC  1.000  0.683
MSFT   0.683  1.000

In [20]:
cov_MSFT = cov.iloc[1,0]
cov_MSFT.round(3)

0.225

In [23]:
# Calculating the market Variance (GSPC) in order to determine Beta
market_var = Ret_secs['ˆGSPC'].var()
market_var

0.281387711726487

In [25]:
# Beta of MSFT = Cov of MSFT / Variance of the Market GSPC
Beta_MSFT = cov_MSFT/market_var
Beta_MSFT.round(4)

0.7988

In [36]:
Ret_secs_mean = pd.DataFrame(Ret_secs.mean())
Ret_secs_mean
# Ri = Return on MSFT
# Rm = Return on GSPC

              0
ˆGSPC  0.110872
MSFT   0.293299

In [37]:
Rf = 0.0009

In [39]:
# Risk premium is Rm-Rf
RP = Ret_secs_mean.iloc[0,0] - Rf
RP

0.1099718442114298

In [42]:
MSFT_expret = Rf + Beta_MSFT * (RP)
MSFT_expret

0.08874300508557749